<?xml version="1.0"?>
<iter>
    
    <!--general details regarding the iteration-->
    <main>
        <max_iter>999</max_iter>  <!--max number of iterations-->
        <code_directory>C:\Users\rbj428\Documents\research_projects\iterative_simulation_framework\</code_directory>
    </main>  
    
    <!--optimization details-->
    <optimization>
        <type>relative_entropy</type>
        <relative_entropy>
            <dr_integrate>0.005</dr_integrate>
            <learning_rate>0.002</learning_rate>
        </relative_entropy>
    </optimization>
    
    <!--simulation details-->
    <simulation>
         <!--general simulation details-->
        <program>gromacs</program>
        <!--gromacs specific-->
        <gromacs>
            <potential>
                <e_max>0.1</e_max>
                <f_max>0.01</f_max>
                <r_max>8.0</r_max>
                <shift>false</shift>
            </potential>
            <grompp>
                <r_buffer>0.5</r_buffer>
            </grompp>
            <table>
                <r_max>20.0</r_max>
                <dr>0.005</dr>
            </table>
        </gromacs>
    </simulation>    
    
</iter>